<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Client!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="tags/wrapper.tag" type="riot/tag"></script>
    <script src="tags/title.tag" type="riot/tag"></script>
    <script src="tags/content.tag" type="riot/tag"></script>
    <script src="tags/links.tag" type="riot/tag"></script>
    <script src="tags/editForm.tag" type="riot/tag"></script>
    <script src="tags/editButton.tag" type="riot/tag"></script>

    <script src="https://cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>

    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	{{{body}}}
</body>



<script type="text/javascript" src="javascripts/editForm.js"></script>


</html>
