<body>

	<wrapper></wrapper>
	
	<script> 
		riot.mount('wrapper', {
			is_editable: false,
			title: "Title",
			links: [],
			pageID: "54ee9b3220906a12400c51b4",
			text: "edit"
	    })
	</script>

</body>