<body>

	<wrapper></wrapper>

	<script src="tags/wrapper.tag" type="riot/tag"></script>
    <script src="tags/titletag.tag" type="riot/tag"></script>
    <script src="tags/content.tag" type="riot/tag"></script>
    <script src="tags/links.tag" type="riot/tag"></script>
    <script src="tags/editform.tag" type="riot/tag"></script>
    <script src="tags/editbutton.tag" type="riot/tag"></script>

    <script src="https://cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>

	<script> 
		riot.mount('wrapper', {
			is_editable: false,
			content:"Hello",
			title: "Title",
			links: ["Hi","There"],
			pageID: "54ee9b3220906a12400c51b4",
			text: "edit"
	    })
	</script>

</body>